[submodule "libraries/ecl"]
	path = lib/ecl
	url = git@github.com:msardonini/ecl.git
[submodule "lib/Fusion"]
	path = lib/Fusion
	url = git@github.com:msardonini/Fusion.git
[submodule "lib/librobotcontrol"]
	path = lib/librobotcontrol
	url = git@github.com:StrawsonDesign/librobotcontrol.git
[submodule "lib/eigen3"]
	path = lib/eigen3
	url = git@github.com:OPM/eigen3.git
