[submodule "external/Fusion"]
	path = external/Fusion
	url = git@github.com:msardonini/Fusion.git
[submodule "external/ecl"]
	path = external/ecl
	url = git@github.com:msardonini/ecl.git
[submodule "external/librobotcontrol"]
	path = external/librobotcontrol
	url = git@github.com:StrawsonDesign/librobotcontrol.git
[submodule "external/yaml-cpp"]
	path = external/yaml-cpp
	url = git@github.com:jbeder/yaml-cpp.git
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "external/eigen-git-mirror"]
	path = external/eigen-git-mirror
	url = git@github.com:eigenteam/eigen-git-mirror.git
