[submodule "external/Fusion"]
	path = external/Fusion
	url = git@github.com:msardonini/Fusion.git
[submodule "external/ecl"]
	path = external/ecl
	url = git@github.com:msardonini/ecl.git
[submodule "external/eigen3"]
	path = external/eigen3
	url = git@github.com:OPM/eigen3.git
[submodule "external/librobotcontrol"]
	path = external/librobotcontrol
	url = git@github.com:StrawsonDesign/librobotcontrol.git
[submodule "external/yaml-cpp"]
	path = external/yaml-cpp
	url = git@github.com:jbeder/yaml-cpp.git
